<div>
  <form nz-form #ticketForm="ngForm" nzLayout="vertical">
    <!-- Drama, Number of Tickets, and Time of Show Row -->
    <div nz-row class="my-box1" style="width: 100%; box-sizing: border-box;">
      <div nz-col nzSpan="24">
        <nz-row nzGutter="16">
          <!-- Drama Selection -->
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzNoColon> Select Drama </nz-form-label>
              <nz-form-control nzHasFeedback nzErrorTip="Please Select Drama">
                <nz-select
                  nz-input
                  name="drama"
                  [(ngModel)]="ticketData.drama"
                  required
                  nzAllowClear
                  nzShowSearch
                  placeholder="Select Drama"
                >
                  <nz-option *ngFor="let drama of dramas" [nzLabel]="drama.name" [nzValue]="drama.id">
                    {{ drama.name }}
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <!-- Number of Tickets -->
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzNoColon>Number of Tickets</nz-form-label>
              <nz-form-control nzHasFeedback nzErrorTip="Please Enter Number of Tickets">
                <input
                  nz-input
                  name="noOfTickets"
                  [(ngModel)]="ticketData.noOfTickets"
                  type="number"
                  required
                  placeholder="Enter Number of Tickets"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
      
          
          <!-- Time of Show -->
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzNoColon>Time of Show</nz-form-label>
              <nz-form-control nzHasFeedback nzErrorTip="Please Enter Time of Show">
                <input
                  nz-input
                  name="showTime"
                  [(ngModel)]="ticketData.showTime"
                  type="time"
                  required
                  placeholder="Enter Show Time"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </nz-row>
      </div>
    </div>

    <!-- seat layout -->
    <div *ngFor="let section of sections">
      <h3>{{ section.SECTION_NAME }}</h3>
      <div *ngFor="let row of section.ROWS">
        <div class="row">
          <div *ngFor="let seat of row.SEATS" 
               [ngClass]="getSeatStyle(seat)" 
               (click)="toggleSeatSelection(seat)" 
               [class.disabled]="!canSelectSeat(seat)">
            {{ seat.NAME }}
          </div>
        </div>
      </div>
    </div>
    
    <p>You have selected {{ selectedSeatsCount }} out of {{ this.ticketData.noOfTickets }} seats.</p>
    
    <!-- Book Button -->
    <div nz-row class="my-box1" style="width: 100%; margin-top: 20px;">
      <div nz-col nzSpan="24" nzOffset="21">
        <button
          type="button"
          nz-button
          (click)="bookTicket(ticketForm)"
          class="ant-btn ant-btn-primary"
        >
          <span>Book Ticket</span>
        </button>
      </div>
    </div>
  </form>
</div>
