<div nz-row nzType="flex">
  <div nz-col nzXs="24" nzSm="10" nzMd="10" nzLg="10" nzXl="10">
    <div class="formname">
      <b> {{ formTitle }} </b>
    </div>
  </div>

  <div
    nz-col
    nzXs="24"
    nzSm="14"
    nzMd="14"
    nzLg="14"
    nzXl="14"
    style="display: flex; justify-content: flex-end"
  >
    <form nz-form [nzLayout]="'inline'">
      <nz-form-item>
        <!-- <button nz-button nzType="primary" [appExport]="listOfData1" id="downloadExcel" (click)="DownloadExcel()"
          [nzLoading]="loadingRecords" fileName="Dramamaster"><i nz-icon nzType="file-excel" nzTheme="outline"></i>
        </button> -->

        <!-- <button nz-button nzType="primary" [nzLoading]="loadingRecords" (click)="DownloadExcel()">
          <i nz-icon nzType="file-excel" nzTheme="outline"></i>
        </button>

        <button nz-button nzType="primary" hidden="true" [nzLoading]="loadingRecords" id="downloadExcel"
          [appExport]="listOfData1" fileName="Dramamaster">
          <i nz-icon nzType="file-excel" nzTheme="outline"></i>
        </button> -->

        <button
          nz-button
          nzType="primary"
          *ngIf="listOfData1.length > 0"
          [appExport]="listOfData1"
          (click)="DownloadExcel()"
          [nzLoading]="loadingRecords"
          fileName="Theater"
        >
          <i nz-icon nzType="file-excel" nzTheme="outline"></i>
        </button>
        <button
          nz-button
          nzType="primary"
          *ngIf="listOfData1.length == 0"
          (click)="DownloadExcel()"
          [nzLoading]="loadingRecords"
          fileName="Theater"
        >
          <i nz-icon nzType="file-excel" nzTheme="outline"></i>
        </button>
      </nz-form-item>
      <nz-form-item>
        <button nz-button [nzType]="isFilterApplied" (click)="showFilter()">
          <i nz-icon nzType="filter"></i>
        </button>
      </nz-form-item>
      <nz-form-item>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input
            type="text"
            name="postsearch"
            (keyup)="keyup($event)"
            [(ngModel)]="searchText"
            nz-input
            autocomplete="off"
            placeholder="Search Records"
          />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" (click)="search(true)" nzSearch>
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </nz-form-item>
      <nz-form-item>
        <button
          *ngIf="userId == 1"
          nz-button
          nzType="primary"
          (click)="add()"
          nzJustify="end"
        >
          <i nz-icon nzType="plus"></i>Add New Theater
        </button>
      </nz-form-item>
    </form>
  </div>
</div>

<div nz-row style="display: flex; justify-content: center; margin-top: 10px;">
  <div nz-col nzSpan="4" style="padding: 5px; cursor: pointer">
    <div style="text-align: center">
      <div nz-row (click)="clickevent('A')">
        <div
          nz-col
          nzSpan="6"
          style="
            border: 1px solid blue;
            padding: 5px;
            border-radius: 5px 0 0 5px;
            background-color: rgb(205, 205, 249);
            font-size: 12px;
          "
        >
          <span *ngIf="enabled != undefined && enabled != null">{{
            enabled
          }}</span>
        </div>
        <div
          nz-col
          nzSpan="18"
          [ngStyle]="
            showcolor0 == 1
              ? { background: 'rgb(158 158 209)' }
              : { background: ' rgb(227, 227, 249)' }
          "
          style="
            border: 1px solid blue;
            padding: 5px;
            margin-left: -1px;
            border-radius: 0 5px 5px 0;
            background-color: rgb(227, 227, 249);
            font-size: 12px;
          "
        >
          <!-- All -->
          <span (ngModelChange)="clickevent('A')">Enabled</span>
          <!-- <button (ngModelChange)="clickevent('all')" name="APPROVAL_STATUS" [(ngModel)]="APPROVAL_STATUS" ></button>   -- -->
        </div>
      </div>
    </div>
  </div>
  <div nz-col nzSpan="4" style="padding: 5px; cursor: pointer">
    <div style="text-align: center">
      <div nz-row (click)="clickevent('D')">
        <div
          nz-col
          nzSpan="6"
          style="
            border: 1px solid blue;
            padding: 5px;
            border-radius: 5px 0 0 5px;
            background-color: rgb(205, 205, 249);
            font-size: 12px;
          "
        >
          <span *ngIf="disabled != undefined && disabled != null">{{
            disabled
          }}</span>
        </div>
        <div
          nz-col
          nzSpan="18"
          [ngStyle]="
            showcolor1 == 1
              ? { background: 'rgb(158 158 209)' }
              : { background: ' rgb(227, 227, 249)' }
          "
          style="
            border: 1px solid blue;
            padding: 5px;
            margin-left: -1px;
            border-radius: 0 5px 5px 0;
            background-color: rgb(227, 227, 249);
            font-size: 12px;
          "
        >
          <!-- All -->
          <span (ngModelChange)="clickevent('D')">Disabled</span>
          <!-- <button (ngModelChange)="clickevent('all')" name="APPROVAL_STATUS" [(ngModel)]="APPROVAL_STATUS" ></button>   -- -->
        </div>
      </div>
    </div>
  </div>
</div>

<div nz-row style="margin-top: 10px;">
  <div nz-col nzSpan="24">
    <div class="filter {{ filterClass }}">
      <div class="filter-box">
        <form nz-form>
          <div nz-row nzGutter="8">
            <div nz-col nzSpan="6">
              <nz-form-label nzNoColon><b>Select City</b></nz-form-label>
              <nz-form-item>
                <nz-select
                  nz-input
                  name="cityselect"
                  [(ngModel)]="cityid"
                  nzPlaceHolder="Select City"
                  nzAllowClear
                  nzShowSearch
                >
                  <nz-option
                    *ngFor="let option of cities"
                    [nzValue]="option.ID"
                    [nzLabel]="option.NAME"
                  ></nz-option>
                </nz-select>
              </nz-form-item>
            </div>

            <div nz-col nzSpan="8">
              <nz-form-label nzNoColon></nz-form-label>
              <nz-form-item style="margin-left: 10px">
                <button
                  style="margin-right: 10px"
                  nz-button
                  [nzLoading]="isSpinning"
                  nzType="primary"
                  (click)="applyFilter()"
                  nzJustify="end"
                >
                  <i nz-icon nzType="filter"></i>Apply filter
                </button>
                <button nz-button nzType="primary" (click)="clearFilter()">
                  <i nz-icon nzType="filter"></i>Clear Filter
                </button>
              </nz-form-item>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div nz-row style="margin-top: 10px;">
  <div nz-col nzSpan="24">
    <nz-table
      class="my-scroll no-wrap1"
      nzBordered
      #contactInfoTable
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzData]="dataList"
      [nzScroll]="{ x: '1700px', y: '420px' }"
      [nzLoading]="loadingRecords"
      [nzSize]="'small'"
      [nzTotal]="totalRecords"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="search()"
      (nzPageSizeChange)="search(true)"
      (nzQueryParams)="sort($event)"
    >
      <thead>
        <tr>
          <th nzWidth="15px" style="text-align: center" nzLeft>
            <b> Action </b>
          </th>
          <th nzWidth="25px" style="text-align: center" nzLeft>
            <b> Layout Name</b>
          </th>
          <th
            nzColumnKey="{{ 'SEQUENCE_NUMBER' }}"
            [nzSortFn]="true"
            nzWidth="23px"
            style="text-align: center"
          >
            <b> Seq No. </b>
          </th>

          <th
            nzColumnKey="{{ 'CITY_NAME' }}"
            [nzSortFn]="true"
            nzWidth="30px"
            style="text-align: center"
          >
            <b>City Name </b>
          </th>
          <th
            nzColumnKey="{{ 'NAME' }}"
            [nzSortFn]="true"
            nzWidth="75px"
            style="text-align: center"
          >
            <b> Theater Name </b>
          </th>
          <th
            nzColumnKey="{{ 'ADDRESS' }}"
            [nzSortFn]="true"
            nzWidth="90px"
            style="text-align: center"
          >
            <b> Theater Address </b>
          </th>
          <th
            nzColumnKey="{{ 'LATITUDE' }}"
            [nzSortFn]="true"
            nzWidth="50px"
            style="text-align: center"
          >
            <b> Latitude </b>
          </th>
          <th
            nzColumnKey="{{ 'LONGITUDE' }}"
            [nzSortFn]="true"
            nzWidth="50px"
            style="text-align: center"
          >
            <b> Longitude </b>
          </th>

          <th
            nzColumnKey="{{ 'STATUS' }}"
            [nzSortFn]="true"
            nzWidth="18px"
            style="text-align: center"
          >
            <b> Status </b>
          </th>

          <!-- <th *ngFor="let column of columns" nzColumnKey="{{column[0]}}" [nzSortFn]="true">{{column[1]}}</th> -->
          <!-- <th>Is Active</th> -->
        </tr>
      </thead>
      <tbody style="text-align: center">
        <tr *ngFor="let data of contactInfoTable.data">
          <td style="text-align: center" nzLeft>
            <a (click)="edit(data)"> Edit </a>
          </td>
          <td style="text-align: center" nzLeft>
            <a (click)="layout(data)"> Layout Group </a>
          </td>
          <td style="white-space: pre-line">{{ data["SEQUENCE_NUMBER"] }}</td>

          <td
            style="
              white-space: pre-line;
              text-align: left;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            "
            nz-tooltip
            [nzTooltipTitle]="data['CITY_NAME']"
            nzTooltipPlacement="top"
          >
            {{ data["CITY_NAME"] }}
          </td>
          <td
            style="
              white-space: pre-line;
              text-align: left;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            "
            nz-tooltip
            [nzTooltipTitle]="data['NAME']"
            nzTooltipPlacement="top"
          >
            {{ data["NAME"] }}
          </td>
          <td
            style="
              white-space: pre-line;
              text-align: left;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            "
            nz-tooltip
            [nzTooltipTitle]="data['ADDRESS']"
            nzTooltipPlacement="top"
          >
            {{ data["ADDRESS"] }}
          </td>
          <td style="white-space: pre-line">{{ data["LATITUDE"] }}</td>
          <td style="white-space: pre-line">{{ data["LONGITUDE"] }}</td>

          <!-- <td style="white-space: pre-line;">{{data['STATUS']}}</td> -->
          <td style="text-align: center; white-space: pre-line">
            <i
              nz-icon
              *ngIf="data['STATUS']"
              [nzType]="'check-circle'"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#52c41a'"
            ></i>
            <i
              nz-icon
              *ngIf="!data['STATUS']"
              [nzType]="'close-circle'"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#f50'"
            ></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<div *ngIf="drawerVisible">
  <nz-drawer
    [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }"
    [nzClosable]="true"
    [nzMask]="true"
    [nzMaskClosable]="false"
    [nzWidth]="550"
    [nzVisible]="drawerVisible"
    [nzTitle]="drawerTitletemplate"
    (nzOnClose)="drawerClose()"
    (nzKeyboard)="(true)"
  >
    <ng-container *nzDrawerContent>
      <app-add-theater-master
        [drawerClose]="closeCallback1"
        [drawerVisible]="drawerVisible"
        [data]="drawerData"
        [pdfurl]="pdfurl"
      ></app-add-theater-master>
    </ng-container>
    <ng-template #drawerTitletemplate>
      <b>{{ drawerTitle }}</b>
    </ng-template>
  </nz-drawer>
</div>

<div *ngIf="layoutVisible">
  <nz-drawer
    [nzBodyStyle]="{ overflow: 'auto' }"
    [nzMaskClosable]="false"
    [nzWidth]="800"
    [nzVisible]="layoutVisible"
    [nzTitle]="drawerTitletemplate1"
    (nzOnClose)="close()"
  >
    <ng-container *nzDrawerContent>
      <app-layoutbutton
        [theaterId]="theaterId"
        [layoutDataList]="layoutDataList"
        [loadingRecords]="load"
        [drawerClose]="closeCallback"
      ></app-layoutbutton>
    </ng-container>
    <ng-template #drawerTitletemplate1>
      <b>{{  "Create Layout Group" }}</b>
    </ng-template>
  </nz-drawer>
</div>
