<div nz-row nzType="flex">
  <div nz-col nzXs="24" nzSm="10" nzMd="10" nzLg="10" nzXl="10">
    <div class="formname">
      <b> {{ formTitle }} </b>
    </div>
  </div>

  <div nz-col nzXs="24" nzSm="14" nzMd="14" nzLg="14" nzXl="14" style="display: flex; justify-content: flex-end">
    <form nz-form [nzLayout]="'inline'">
      <!-- <nz-form-item>


        <button nz-button nzType="primary" *ngIf="listOfData1.length > 0" [appExport]="listOfData1"
          (click)="DownloadExcel()" [nzLoading]="loadingRecords" fileName="Dramamaster">
          <i nz-icon nzType="file-excel" nzTheme="outline"></i>
        </button>
        <button nz-button nzType="primary" *ngIf="listOfData1.length == 0" (click)="DownloadExcel()"
          [nzLoading]="loadingRecords" fileName="Dramamaster">
          <i nz-icon nzType="file-excel" nzTheme="outline"></i>
        </button>
      </nz-form-item> -->
      <nz-form-item>
        <button nz-button [nzType]="isFilterApplied" (click)="showFilter()">
          <i nz-icon nzType="filter"></i>
        </button>
      </nz-form-item>

      <nz-form-item>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" name="postsearch" (keyup)="keyup($event)" (keydown.enter)="onKeypressEvent($event)"
            autocomplete="off" [(ngModel)]="searchText" nz-input placeholder="Search Record" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" (click)="search(true)" id="button" nzSearch>
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </nz-form-item>
      <!-- <nz-form-item>
          <button nz-button nzType="primary" (click)="add()" nzJustify="end">
            <i nz-icon nzType="plus"></i>Add New Drama
          </button>
        </nz-form-item> -->
    </form>
  </div>
</div>

<div nz-row>
  <div nz-col nzSpan="24">
    <div class="filter {{ filterClass }}">
      <div class="filter-box">
        <form nz-form>
          <div nz-row nzGutter="8">
            <div nz-col nzSpan="5">
              <nz-form-item>
                <nz-form-label nzNoColon><b>From Date</b></nz-form-label>
                <nz-date-picker name="startdate" style="width: 100%" nzFormat="dd-MM-yyyy " [(ngModel)]="FROM_DATE"
                  nzPlaceHolder="Select Start Date." (nzOnOpenChange)="moduleStartDateHandle($event)"
                  (ngModelChange)="startDateChange()">
                </nz-date-picker>
              </nz-form-item>
            </div>

            <div nz-col nzSpan="5">
              <nz-form-item>
                <nz-form-label nzNoColon><b>To Date</b></nz-form-label>
                <nz-date-picker #EndDatePicker style="width: 100%" name="enddate" nzFormat="dd-MM-yyyy "
                  [(ngModel)]="TO_DATE" nzPlaceHolder="Select End Date."></nz-date-picker>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="6">
              <nz-form-label nzNoColon><b>Select City</b></nz-form-label>
              <nz-form-item>
                <nz-select nz-input name="cityselect" [(ngModel)]="cityid" nzPlaceHolder="Select City" nzAllowClear
                  nzShowSearch>
                  <nz-option *ngFor="let option of cities" [nzValue]="option.ID" [nzLabel]="option.NAME"></nz-option>
                </nz-select>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
              <nz-form-label nzNoColon></nz-form-label>
              <nz-form-item style="margin-left: 10px">
                <button style="margin-right: 10px" nz-button [nzLoading]="isSpinning" nzType="primary"
                  (click)="applyFilter()" nzJustify="end">
                  <i nz-icon nzType="filter"></i>Apply filter
                </button>
                <button nz-button nzType="default" (click)="clearFilter()">
                  <!-- <i nz-icon nzType="filter"></i> -->
                  <i nz-icon nzType="close-circle" ></i>Clear Filter
                </button>
              </nz-form-item>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div nz-row style="margin-top: 10px">
  <div nz-col nzSpan="24">
    <nz-table class="my-scroll no-wrap1" nzBordered #contactInfoTable nzShowSizeChanger [nzFrontPagination]="false"
      [nzData]="dataList" [nzScroll]="{ x: '1400px', y: '70vh' }" [nzLoading]="loadingRecords" [nzSize]="'small'"
      [nzTotal]="totalRecords" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="search()"
      (nzPageSizeChange)="search(true)" (nzQueryParams)="sort($event)">
      <thead>
        <tr>
          <th  nzWidth="15px" style="text-align: center" nzLeft>
            <b> Payment </b>
          </th> 
          <th nzColumnKey="{{ 'MOBILE_NO' }}" [nzSortFn]="true" nzWidth="20px" style="text-align: center">
            <b> Mobile No </b>
          </th>
          <th nzColumnKey="{{ 'CART_ID' }}" [nzSortFn]="true" nzWidth="30px" style="text-align: center">
            <b> Cart ID </b>
          </th>
          <th nzColumnKey="{{ 'SHOW_DATE' }}" [nzSortFn]="true" nzWidth="20px" style="text-align: center">
            <b> Show Date </b>
          </th>
          <th nzColumnKey="{{ 'CITY_NAME' }}" [nzSortFn]="true" nzWidth="30px" style="text-align: center">
            <b>City Name </b>
          </th>
          <th nzColumnKey="{{ 'THEATRE_NAME' }}" [nzSortFn]="true" nzWidth="30px" style="text-align: center">
            <b>Theatre Name </b>
          </th>

          <th nzColumnKey="{{ 'SHOW_NAME' }}" [nzSortFn]="true" nzWidth="30px" style="text-align: center">
            <b> Show Name </b>
          </th>

          <th nzColumnKey="{{ 'SEAT_NUMBERS' }}" [nzSortFn]="true" nzWidth="35px" style="text-align: center">
            <b> Seat Numbers </b>
          </th>
          <th nzColumnKey="{{ 'TOTAL_AMOUNT' }}" [nzSortFn]="true" nzWidth="20px" style="text-align: center">
            <b> Amount (₹) </b>
          </th>

        </tr>
      </thead>
      <tbody style="text-align: center">
        <tr *ngFor="let data of contactInfoTable.data">
          <td style="text-align: center" nzLeft>
            <a (click)="paymentProcess(data)"> Payment </a>
          </td>

          <td style="white-space: pre-line">{{ data["MOBILE_NO"] }}</td>
          <td style="white-space: pre-line">{{ data["CART_ID"] }}</td>
          <td style="white-space: pre-line">{{ data["SHOW_DATE"] | date :"dd-MM-yyyy" }}</td>
          <td style="
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
          " nz-tooltip [nzTooltipTitle]="data['CITY_NAME']" nzTooltipPlacement="top">
            {{ data["CITY_NAME"] }}
          </td>
          <td style="
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              text-align: left;
            " nz-tooltip [nzTooltipTitle]="data['THEATRE_NAME']" nzTooltipPlacement="top">
            {{ data["THEATRE_NAME"] }}
          </td>

          <td style="
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              text-align: left;
            " nz-tooltip [nzTooltipTitle]="data['SHOW_NAME']" nzTooltipPlacement="top">
            {{ data["SHOW_NAME"] }}
          </td>

          <td style="white-space: pre-line">
            {{ data["SEAT_NUMBERS"] }}
          </td>

          <td style="white-space: pre-line">
            {{ data["TOTAL_AMOUNT"] }}
          </td>

        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isModalVisible"
  [nzTitle]="'Booking Details'"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
  [nzWidth]="700"
  nzMaskClosable="false"
>
  <ng-container *nzModalContent>
    <div >
      <nz-spin [nzSpinning]="loadmodal">
        <div class="my-box">
        <div nz-row>
          <div nz-col nzSpan="6">Mobile Number</div>
          <div nz-col nzSpan="1">:</div>
          <div nz-col nzSpan="17">{{paymentProcssDetails.MOBILE_NO}}</div>
        </div>    
        <div nz-row>
          <div nz-col nzSpan="6">Cart ID</div>
          <div nz-col nzSpan="1">:</div>
          <div nz-col nzSpan="17">{{paymentProcssDetails.CART_ID}}</div>
        </div>    
        <div nz-row>
          <div nz-col nzSpan="6">City Name</div>
          <div nz-col nzSpan="1">:</div>
          <div nz-col nzSpan="17">{{paymentProcssDetails.CITY_NAME}}</div>
        </div>    
        <div nz-row>
          <div nz-col nzSpan="6">Theatre Name</div>
          <div nz-col nzSpan="1">:</div>
          <div nz-col nzSpan="17">{{paymentProcssDetails.THEATRE_NAME}}</div>
        </div>    
        <div nz-row>
          <div nz-col nzSpan="6">Show Name</div>
          <div nz-col nzSpan="1">:</div>
          <div nz-col nzSpan="17">{{paymentProcssDetails.SHOW_NAME}}</div>
        </div>    
        <div nz-row>
          <div nz-col nzSpan="6">Seat Numbers</div>
          <div nz-col nzSpan="1">:</div>
          <div nz-col nzSpan="17">{{paymentProcssDetails.SEAT_NUMBERS}}</div>
        </div>    
        <div nz-row>
          <div nz-col nzSpan="6">Amount (₹)</div> 
          <div nz-col nzSpan="1">:</div>
          <div nz-col nzSpan="17">{{paymentProcssDetails.TOTAL_AMOUNT}}</div>
        </div>  </div>
        <!-- <div class="my-box">
          <div nz-row>
          <div nz-col nzSpan="6">
            <nz-form-label nzNoColon><b>Select Status</b></nz-form-label>
            <nz-form-item>
              <nz-select
                nz-input
                name="BOOKING_STATUS"
                [(ngModel)]="paymentProcssDetails.BOOKING_STATUS"
                nzPlaceHolder="Select Booking Status"
                nzAllowClear
                nzShowSearch
              >

                <nz-option [nzValue]="'D'" [nzLabel]="'Draft'"></nz-option>
                <nz-option [nzValue]="'B'" [nzLabel]="'Booked'"></nz-option>
              </nz-select>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="18">
          </div>
          </div>
        </div> -->
        
      </nz-spin>
    </div>
  </ng-container>
  <div *nzModalFooter>
    <button  nz-button nzType="primary"
    nz-popconfirm
    nzPopconfirmTitle="Are you sure you want to confirm this ticket?"
    (nzOnConfirm)="confirmBooking(paymentProcssDetails)"
    (nzOnCancel)="cancel()"
    nzPopconfirmPlacement="topRight"
    nz-button
    >Confirm</button>
    <!-- <button *ngIf="paymentProcssDetails.BOOKING_STATUS!='B'" nz-button nzType="primary" (click)="confirmBooking(paymentProcssDetails)">Confirm</button> -->
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
  </div>
  <ng-template #previewLayout>
    <b>Theater Preview Layout</b>
  </ng-template>
</nz-modal>
