
<div>
  <form nz-form #seatform="ngForm">
    <nz-spin [nzSpinning]="isSpinning">
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Seat Layout Group Name
            </nz-form-label>
            <nz-form-control nzHasFeedback
              nzErrorTip=" Please Enter Seat Layout Group Name ">
              <input nz-input name="name" [(ngModel)]="data.NAME"
                placeholder="Enter Seat Layout Group Name"
                maxlength="128" required />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Short Code</nz-form-label>

            <nz-form-control nzErrorTip="Please Enter Short Code ">
              <input nz-input autocomplete="off" maxlength="2"
              placeholder="Enter Short Code"
                name="EmployeeCode" [(ngModel)]="data.SHORT_CODE"
                type="text" required />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Sequence No.</nz-form-label>
            <nz-form-control nzHasFeedback
              nzErrorTip="Please Enter Sequence Number">
              <!-- <nz-input-number name="unitseq"  style="width: 100%;"  [(ngModel)]="data.SEQUENCE_NO" [nzMin]="1"  [nzStep]="1" (keypress)="omit($event)" required></nz-input-number> -->
              <input nz-input name="seqno" style="width: 100%;"
                [(ngModel)]="data.SEQUENCE_NUMBER" (keypress)="omit($event)"
                placeholder="Enter Seq No"
                required />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzNoColon> Status </nz-form-label>
            <nz-form-control>
              <nz-switch name="status" [(ngModel)]="data.STATUS" nzCheckedChildren="Active" nzUnCheckedChildren="InActive"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </nz-spin>
  </form>

  <div class="footer">
    <button type="button" nz-button (click)="close()" class="ant-btn"
      style="margin-right: 8px">
      <span> Cancel </span>
    </button>
    <button type="button" class="ant-btn ant-btn-primary" *ngIf="!data.ID"
      nz-button
      nz-dropdown
      [nzDropdownMenu]="menu"
      (click)="save(false,seatform)">
      <span> Save & Close</span>
    </button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li
          nz-menu-item
          class="menuc"
          style="border-radius: 4px; background-color: #40a9ff">
          <a style="color: white" (click)="save(true,seatform)"> Save & New</a>
        </li>
      </ul>
    </nz-dropdown-menu>
    <button
      type="button"
      class="ant-btn ant-btn-primary"
      nz-button
      [nzLoading]="isSpinning"
      *ngIf="data.ID"
      (click)="save(false,seatform)">
      <span> Update & Close</span>
    </button>
  </div>
</div>
